<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <title>Sign-in</title>
  </head>
  <body>
    <div class="back">
      <a href="./">
        <img src="../../../image/back.png" alt="">
      </a>
    </div>
    <div class="wrapper">
      <h1 class="Sign-in-h1">ToDoList</h1>
      <div class="Sign-in">
        <form class="Sign-in-form">
          <div class="Sign-in-form-email">
            <div class="text">E—Mail</div>
            <input type="email" class="email-input" id="email" required autocomplete="off">
          </div>
          <div class="Sign-in-form-password">
            <div class="text">Password</div>
            <input type="password" class="password-input" title="password must consists of 6 numbers" placeholder="password must consists of 6 numbers" id="password" maxlength="6" required autocomplete="off">
          </div>
          <div class="Sign-in-form-ForgotPassword">
            <a class="Forgot_password" href="./recovery.html">Forgot password?</a>
          </div>
          <div class="Sign-in-form-btn">
            <button type="submit" class="btnSign_in">Sign in</button>   
          </div>
        </form>  
      </div>
    </div>  
  </body>
</html>
