<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <title>Recovery</title>
  </head>
  <body>
    <div class="back">
      <a href="./sign-in.html">
        <img src="../../../image/back.png" alt="">
      </a>
    </div>
    <div class="recovery-wrapper">
      <h1>ToDoList</h1>
      <div class="recovery">
        <div class="recovery-form">
          <div class="recovery-form-text">Enter your recovery email</div>
          <div class="recovery-form-email">
            <div class="recovery-form-email-error">Incorrect e-mail template</div>
          </div>
          <input type="email" required autocomplete="off" class="recovery-form-input">
          <div class="recovery-form-btn">
            <button type="button" class="btn-recovery">Next</button>
          </div>
          <div class="recovery-form-check-email">Please, check your e-mail for instructions</div>
        </div>
      </div>
    </div>
  </body>
</html>
